.QuizCreator {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(0deg, #f0613c 0%, #f0783c 100%);
}

.QuizCreator > div {
    width: 100%;
    min-width: 600px;
    padding: 0 20px;
}

.QuizCreator h1 {
    text-align: center;
}

.QuizCreator form {
    width: 80vw;
    max-width: 400px;
    margin: 0 auto;
    background: #eee;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}