.Auth {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    min-height: calc(100vh - 100px);
    background: linear-gradient(360deg, #cef2fa 0%, #59dfef 100%);
}

.Auth > div {
    width: 100%;
    min-width: 600px;
    padding: 0 20px;
}

.Auth h1 {
    color: white;
    text-align: center;
}

.AuthForm {
    width: 400px;
    max-width: 80vw;
    margin: 0 auto;
    background: #eee;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 5px;
}